#section {
	width: 800px;
	margin:0 auto;
}

.photo{
    float:left;
    width:15%;
	margin:30px 0;
}

.intro{
    float:right;
    width:75%;
	margin:30px 0;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 25px;
}

p {
	font-size: 20px;
	line-height: 30px;
	text-align: justify;
	margin:30px 0;
}

.education li {
	font-size: 20px;
	line-height: 30px;
	margin: 10px;
}

.work li {
	font-size: 20px;
	line-height: 30px;
	margin: 10px;
}

.publication li{
	font-size: 20px;
	line-height: 30px;
	margin: 10px;
}

.course li{
	font-size: 20px;
	line-height: 30px;
	margin: 5px;
}

a:link {
    color:blue;
    text-decoration: none;
}
a:visited {
    color:red;
    text-decoration: none;
}
a:hover {
    color:black;
    text-decoration: underline;
}
a:active {
    color:green;
    text-decoration: underline;
}